.default-button{
  height: 2.5rem;
  border-style: solid;
  line-height: 1.5;
  box-shadow: 0 0 1px 1px #000;
  font-size: 1.25rem;
  border-radius: .125rem;
  border-width: 2px;
  display: inline-flex;
  text-transform: uppercase;
  padding: 0 1rem;
}
.login-button{
  margin: 1rem auto auto;
  background-color: rgba(159,22,0,.6);
  border-color: #ea3012;
  box-shadow: 0 0 0 1px #000;
  color: #f8b700;
  border-radius: 0;
  &:hover{
    background-color: rgba(159,22,0,.8);
  }
  &:focus{
    outline-width: 0px;
  }
}