// variables
$background_color: #321c29;
$text_color: #337ab7;
$topic_text_color: rgba(255,255,255,.7);
$post_title_color: white;
$comment_author_color: white;
$font_size: 16px;

// bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
// post-list
@import './components/posts-list/components/post-list-item';
@import './components/posts-list/components/pagination-footer';
// post-item
@import 'components/post-item/post-item';
// comments
@import 'components/post-item/comment-item/comments';
// new comments
@import 'components/post-item/new-comment/new-comment';
// register
@import 'components/user-components/user-pages';

// default styles
@import 'components/default-styles/button';
@import 'components/default-styles/text';
// loading-wheel styles
@import 'components/loading-wheel/load-wheel';
//-----------------
html{
  font-size: $font_size;
}

.forum-body-list, .forum-body-post{
  background-color: $background_color;
  background-position: top;
  background-size: 100% auto;
}
.forum-body-list{
  background-image: url('./components/images/bliz-overwatch-background.jpeg');
  background-repeat: no-repeat;
}
.forum-body-post{
  background-image: url('./components/images/background-overwatch-repeat.jpg');
}
// bootstrap fix
// http://www.bootply.com/120951