.pagination-footer{
  display: block;
  text-align: center;
  margin: 2rem 0;
  .pagination-button{
    min-width: 11.25rem;
    align-items: center;
    display: inline-flex;
    height: 3.75rem;
    text-align: center;
    border-width: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    span{
      width: 100%;
      text-transform: capitalize;
    }
    &.pagination-page{
      border: 0;
      box-shadow: none;
    }
    &:hover{
      text-decoration:  none;
      background-color: #00a5e2;
      color: white;
    }
    &.previous-page .next-page{
    }
    &:focus{
      text-decoration:  none;
    }
    &.current-page{
      border-width: 0px;
      box-shadow: none;
      &:hover{
        cursor: default;
        background-color: inherit;
        color: #337ab7;
      }
    }
  }
}